<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">     
    <h2>You have been logged out</h2>
    <div class="border-top pt-3 mt-3 text-center">
        <small class="text-muted">
            Need an Account? <a class="ml-2 text-info text-decoration-none" href="{% url 'login' %}">log in again</a>
        </small>
     </div>
</body>
</html>